$btn-default-color: #c0c0c0;
$btn-primary-color: #e93;
$btn-secondary-color: #a0c0e0;

.btn {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: darken($btn-default-color, 50%);
  background: $btn-default-color;
  border: 2px solid $btn-default-color;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  min-width: 80px;
  user-select: none;
  padding: .5rem 2rem;
  cursor: pointer;
  position: relative;

  &.small {
    font-size: .75rem;
    padding: .25rem 2rem;
  }

  &.large {
    font-size: 1.25rem;
    padding: .75rem 2rem;
  }

  &.outlined {
    color: #e0e0e0;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: $btn-default-color;
  }

  &.text {
    color: $btn-default-color;
    background: transparent;
    border: none;
  }

  &:active:not(.disabled) {
    top: 1px;
  }

  &:active:not(.outlined):not(.text):not(.disabled) {
    background: lighten($btn-default-color, 5);
  }

  &-primary {
    color: darken($btn-primary-color, 50%);
    background-color: $btn-primary-color;
    border-color: $btn-primary-color;

    &.outlined {
      color: $btn-primary-color;
      border-color: $btn-primary-color;
    }

    &.text {
      color: $btn-primary-color;
    }

    &:active:not(.outlined):not(.text):not(.disabled) {
      background: lighten($btn-primary-color, 5);
    }
  }

  &-secondary {
    color: darken($btn-secondary-color, 50%);
    background: $btn-secondary-color;
    border-color: $btn-secondary-color;

    &.outlined {
      color: $btn-secondary-color;
      border-color: $btn-secondary-color;
    }
    &.text {
      color: $btn-secondary-color;
    }

    &:active:not(.outlined):not(.text):not(.disabled) {
      background: lighten($btn-secondary-color, 5);
    }
  }
  &.disabled {
    color: #808080;
    cursor: default;
  }
}